<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search Shakespeare</title>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <link href="main.css" rel="stylesheet">
  <script src="script.js"></script>
</head>
<body>
  <div id='wrap'>
    <div class="container">
      <form id="searchform" class="form-signin" role="form">
        <h2 class="form-signin-heading">Search</h2>
        <input type="text" class="form-control" id="searchterm" placeholder="search all of Shakespeare..." autofocus>
      </form>
      <ul id='results' class="list-group"></ul>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted"><a href="https://twitter.com/zhubert">@zhubert</a> using <a href="http://www.golang.org">Go</a> and <a href="http://www.gutenberg.org/">Project Gutenberg</a></p>
    </div>
  </div>
</body>
</html>
